nav{
  display: flex;

  border-bottom: 1px solid #aaa;
  justify-content: center;
  flex-wrap: wrap;
}

.link{
  padding: 10px;
}
.link:hover{
  background: pink;
}

.page-center{
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width: 500px;
}